# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
Experiment Results/Charts/
Experiment Results/Logs/
*.log

# Experiment data and outputs
experiments/data/
experiments/analysis/results/
experiments/Parent Selection Variants/Charts/*
experiments/Parent Selection Variants/Logs/*

# Build artifacts
*.egg-info/
build/
dist/

# Python testing
coverage/
*.coverage
.cache/
.tox/

# IDE and editor settings
.vscode/
.idea/

# GitHub Actions
!.github/workflows/

# Misc
Presentations/